/* stylelint-disable font-family-name-quotes */
.title {
  font-family: 'Sacramento', cursive;
}

.cart {
  font-family: 'Comfortaa', cursive;
}

.bg {
  background-color: #fffaf1;
}

input {
  font-family: 'Comfortaa', cursive;
}
